<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>  
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> and please input link to hls playlist below</p>
    <form id="main" name="main">
      <input type="text" id="hlsurl" name="hlsurl">
      <p>
        <input type="submit" value="Submit">
      </p>
      <p>The resulted local hosted hls playlist:(will show below when you submit)</p>
      <div class="output"></div>
    </form>
    <p id="print" type="url"></p>
    <script src="javascripts/view.js"></script>
  </body>
</html>
